.testimonials-section {
    background: radial-gradient(116.18% 118% at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);
    padding: 3rem 0;
    margin-bottom: 0.5rem;

    .container {
        padding: 1rem 0;

        h1 {
            text-align: left;
            padding-bottom: 0.5rem;
            font-weight: 800;
            color: black;
        }

        .buttons {
            display: flex;
            justify-content: flex-start;
            padding-top: 3rem;
            gap: 30px;

            .btn {
                cursor: pointer;
                color: #33354d;
                background-color: white;
                border: 0;
                border-radius: 50%;
                transition: color .2s ease-in-out;
                font-size: 12px;

                &:hover {
                    background-color: var(--brandprimary);
                    color: white;
                }
            }

            .btn-icon {
                width: 2.25rem;
                height: 2.25rem;
                padding: 0;
            }
        }

        .testimonial-card-body {
            width: 335px;
            padding-top: 1.5rem;
            padding-bottom: 1rem;
            padding: 0 0.5rem;
            height: auto;
            margin-left: 10%;

            .testimonial-cards {
                display: flex;
                gap: 50px;
                width: 1000px; // ???????????

                .btn {
                    width: 50px;
                    height: 50px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    pointer-events: none;
                    margin-left: 1.5rem;
                    transform: translateY(-50%);
                }

                .card-body {
                    padding-bottom: 1.5rem;
                    margin-bottom: 0;

                    .text-nowrap {
                        padding-top: 0.25rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 1.125rem;
                        margin-bottom: 0;
                    }
                }

                .card-footer {
                    background-color: white;
                    border: 0;
                    display: flex;
                    align-items: center;
                    padding-top: 0;

                    .fannie,
                    .robert {
                        img {
                            border-radius: 50%;
                            margin-left: -0.25rem;
                        }
                    }

                    .fannie-name,
                    .robert-name {
                        h6 {
                            font-weight: 700;
                            font-size: 1rem;
                            margin-bottom: 0;
                        }

                        span {
                            color: var(--bs-gray-600);
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }


    }
}